:host {
    mat-card {
        max-width:420px;
        white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
        white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        white-space: pre-wrap;       /* css-3 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        word-break: break-all;
        white-space: normal;
        mat-card-content {
        }
        mat-card-header {
            .header-image {
                img {
                    width:100%;
                    height: 100%;
                    display:block;
                    object-fit: cover;
                }
            }
        }
    }

    .main-card-image {
        height:200px;
        object-fit: cover;
    }

}