<mat-card *ngIf="item">
    <mat-card-header>
        <div mat-card-avatar class="header-img">
            <img  mat-card-avatar src="assets/profile.jpg" alt="">
        </div>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle><span *ngIf="item.category">{{item.category}} </span> <b>{{item.date}}</b></mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="item.img" class="main-card-image" mat-card-image [src]="item.img" alt="Blog photo">
    <img *ngIf="!item.img" class="main-card-image" mat-card-image src="http://www.independentmediators.co.uk/wp-content/uploads/2016/02/placeholder-image.jpg" alt="Blog photo">
    <mat-card-content>
        <p>
            {{item.text | slice:0:125}} <span *ngIf="item.text?.length > 125">...</span>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="preview(item)" mat-raised-button color="primary">Preview</button>
        <button (click)="edit(item)" mat-button>EDIT</button>
    </mat-card-actions>
</mat-card>