
@import '../../../mixins';
:host {
    .sorting-block {
        padding-top:10px;
        padding-bottom:10px;
        display:flex;
        justify-content: flex-end;
    }
    .layout {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }

    @media only screen and (max-width: 1250px) {
       .layout {
        grid-template-columns: repeat(3, 1fr);
       }
      }

      @media only screen and (max-width: 1000px) {
        .layout {
         grid-template-columns: repeat(2, 1fr);
        }
       }

       @media only screen and (max-width: 650px) {
        .layout {
         grid-template-columns: repeat(1, 1fr);
        }
       }
}