<div class="sorting-block">
        <button (click)="sortByYear()" mat-button>Sort By Year</button>
        <button (click)="sortByMonth()" mat-button>Sort By Month</button>
        <button (click)="sortByDay()" mat-button>Sort By Day</button>
</div>
<div *ngIf="posts" class="layout">
        <div *ngFor="let item of posts | sort:'date' | slice:sliceStart:sliceEnd ; let i = index">
                <app-item [item]="item" [index]="i"></app-item>
        </div>
</div>

<div class="peginator">
        <mat-paginator [length]="posts?.length" [pageSize]="8" [pageSizeOptions]="[5, 10, 25, 100]"  (page)="changePage($event); pageEvent = $event">
        </mat-paginator>
</div>