<div *ngIf="item" class="wrapper">
    <div class="post-inner">
        <img [src]="item.img" alt="">
        <div class="edit-wrapper">
                <form [formGroup]="postForm">
                    <mat-form-field class="example-form-field">
                        <input matInput type="text" placeholder="Title" formControlName="title">
                        <button mat-button *ngIf="form.title.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('title')">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="errors" *ngIf="form.title != null">
                            <p *ngIf="form.title.hasError('required')">Title is required</p>
                            <p *ngIf="form.title.hasError('minlength')">Please enter at least 10 characters</p>
                    </div>

                    <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Text" formControlName="text" rows="10" cols="80"></textarea>
                          </mat-form-field>
                          <div class="errors" *ngIf="form.text != null">
                                <p *ngIf="form.text.hasError('required')">Title is required</p>
                                <p *ngIf="form.text.hasError('minlength')">Please enter at least 125 characters</p>
                        </div>
                </form>
                <div class="buttons">
                        <button mat-raised-button color="primary" (click)="save()">Save</button>
                        <button mat-raised-button  (click)="delete()">Delete</button>
                </div>
            </div>
    </div>

</div>