:host {
    .wrapper {
        padding:15px;
        .post-inner {
            max-width:800px;
            display:block;
            margin:0 auto;
            margin-top:15px;
            margin-bottom:15px;
            img {
                width:100%;
            }

            .edit-wrapper {
                padding-top:25px;
                padding-bottom:25px;
                display:block;
                margin:0 auto;
                max-width:800px;

                form {
                    mat-form-field {
                        width:100%;
                    }
                }

                .errors {
                    margin-bottom:15px;
                    p {
                        color:red;
                        animation-name:fromTop;
                        animation-duration:0.3s;
                        margin:0;
                    }

                    @keyframes fromTop {
                        from {
                            opacity:0;
                            margin-top:-30px;
                        }

                        to {
                            opacity:1;
                            margin-top:0;
                        }
                    }

                    
                }

                .buttons {
                    display:block;
                    margin:0 auto;

                    button {
                        min-width:100px;
                    }

                    button:first-of-type {
                        margin-right:15px;
                    }
                }
            }
        }
    }
}