:host {
    .wrapper {
        padding:15px;

        .post-inner {
            max-width:800px;
            display:block;
            margin:0 auto;
            margin-top:15px;
            margin-bottom:15px;

            img {
                width:100%;
            }
        }
    }

}