<mat-toolbar class="mat-elevation-z4">
<mat-toolbar-row>
    <span *ngIf="router.url === '/'">Blog task</span>
    <span class="back" (click)="goBack()" *ngIf="router.url !== '/'"><i class="material-icons">
        arrow_back
        </i></span>
    <span class="example-spacer"></span>
    <mat-icon (click)="goToAdd()" class="example-icon" aria-hidden="false" aria-label="Example heart icon">add_box</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
